<!DOCTYPE html>
<html>
	<head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'user_management/basic.css' %}" />
		<title> Login Success </title>
	</head>
	<body>
    <div class="container">
        <div class="frame1left">
            <p class="text"> Welcome to Inventory Management API <strong>{{user_login_id}}</strong> </p>
            <p class="text"> Still incomplete </p>
        </div>
        <div class="frame1center">
            <p class="text"> Welcome to Inventory Management API <strong>{{user_login_id}}</strong> </p>
            <p class="text"> Still incomplete </p>
        </div>
        <div class="frame1right">
            <p class="text"> Welcome to Inventory Management API <strong>{{user_login_id}}</strong> </p>
            <p class="text"> Still incomplete </p>
        </div>
    </div>
	</body>
</html>